# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
React-App/node_modules
React-App/.pnp
React-App/.pnp.js

# testing
React-App/coverage

# production
React-App/build

# misc
React-App/.DS_Store
React-App/.env.local
React-App/.env.development.local
React-App/.env.test.local
React-App/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
psFile.psd